@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import "../../../colors.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*:root {*/
/*    --fon: #19202F;*/
/*    --sb: #2f3543;*/
/*    !*--sb: #25313e;*!*/
/*    --scd: #fff;*/
/*    --prm: #FAF8F7;*/
/*    --prm-lt: #505965;*/
/*    --txt: #D1D3D6;*/
/*    --mt-bg: #9defde;*/
/*    --mt: #19202f;*/
/*}*/

.sidebar {
    /*position: -webkit-sticky;*/
    position: fixed;
    /*position: absolute;*/
    z-index: 1;
    width: 75px;
    height: 100vh;
    /*background: #ffffff;*/
    background: var(--sb);
    transition: 0.5s;
    padding-left: 5px;
    overflow: hidden;
}

.sidebar.active,
.sidebar:hover {
    width: 270px;
    box-shadow:0 0 0 10000px rgba(0,0,0,.40);
}

.sidebar ul {
    margin-left: 0;
    padding-left: 0;
    position: relative;
    height: 100vh;
}

.sidebar ul li {
    position: relative;
    list-style: none;
    transition: 0.5s;
}

.sidebar ul li.active {
    background: var(--fon);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 0.5s;
}

.sidebar.active ul li.active,
.sidebar:hover ul li.active {
    /*background: var(--main-dark-shadowed);*/
    background: var(--main-dark);
    /*transition: box-shadow 0.5s;*/
    transition: 0.2s;
    /*margin-right: 5px;*/
    border-radius: 0;
}

.sidebar ul li.active::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--fon);
    background: transparent;
    transition: box-shadow 0.5s;
}

.sidebar ul li.active::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 5px var(--fon);
    background: transparent;
    transition: box-shadow 0.5s;
}
.sidebar:hover ul li.active:before,
.sidebar.active ul li.active:before {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.5s;
    /*animation: liShadow 0.5s forwards;*/
    /*background-color: white;*/
}

.sidebar:hover ul li.active:after,
.sidebar.active ul li.active:after{
    /*box-shadow: 5px -5px 0 5px var(--main-dark-shadowed);*/
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.5s;
    /*animation: opacityNullToFull 0.5s forwards;*/
}

.sidebar ul li.logo {
    margin-bottom: 50px;
}

.sidebar ul li.logo .icon {
    font-size: 2em;
    color: var(--txt);
    /*color: var(--fon);*/
}

.sidebar ul li.logo .text {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--txt);
    /*color: var(--fon);*/
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    min-width: 60px;
    height: 70px;
    font-size: 1.5em;
    color: var(--txt);
    /*color: #333;*/
    transition: 0.5s;
}

.sidebar ul li .text {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: var(--txt);
    /*color: #333;*/
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.sidebar ul li.active a .icon {
    color: var(--txt);
    /*color: var(--fon);*/
}

.sidebar ul li.active a .icon i {
    z-index: 1;
}

.sidebar ul li.active a .text {
    color: #fff;
}

.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text {
    color: var(--scd);
}

.sidebar ul li.active a .icon::before {
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    /*background: transparent;*/
    background: var(--prm-lt);
    /*background: var(--dark-400);*/
    /*background: var(--prm);*/
    border-radius: 50%;
    transition: 0.5s;
}

.sidebar.active ul li.active a .icon::before,
.sidebar:hover ul li.active a .icon::before {
    background: transparent;
    border-radius: 10%;
    top: 15px;
    left: 14px;
    width: 40px;
    height: 40px;
}

.sidebar ul li:hover.active a .icon::before {
    background: var(--prm);
    /*background: var(--prm-lt);*/
    /*background: var(--sb);*/
}

.sidebar ul li:hover.active a .icon {
    color: var(--fon);
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.imgBox {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuToggle {
    position: fixed;
    /*position: absolute;*/
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: var(--mt-bg);
    /*background: #31a4ff;*/
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuToggle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--mt);
    /*background: #fff;*/
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0 9px 0 var(--mt);
    /*box-shadow: 0 9px 0 #fff;*/
}

.menuToggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--mt);
    /*background: #fff;*/
    transform: translateY(9px);
    transition: 0.5s;
}

.menuToggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}

.menuToggle.active::after {
    transform: translateY(0px) rotate(315deg);
}

@media(max-width: 876px) {
    .sidebar {
        width: 0;
        padding: 0;
    }
}

/*@keyframes liShadow {*/
/*    0% {*/
/*        box-shadow:  5px 5px 0 5px var(--fon);*/
/*    }*/
/*    100% {*/
/*        box-shadow: 5px 5px 0 5px var(--main-dark-shadowed);*/
/*    }*/
/*}*/